.text-center {
  text-align: center;
}

.card-header-text-size {
  font-size: 15px;
}

#cartDropdown {
  position: static;
  z-index: 1;
  right: 100%;
}

#headerLogo {
  margin-top: 0px;
  margin-left: 15px;
}

#bodyDiv {
  position: absolute;
  z-index: -1;
}

#cartDiv {
  display: grid;
  grid-template-rows: 5fr 1fr;
  width: 350px;
  height: 600px;
  color: black;
  padding: 15px;
}

#cartImage {
  margin-right: 25px;
  cursor: pointer;
}

#cartImage:hover {
  border-radius: 15px;
  background-color: #26c6da;
}

.cartItems {
  overflow-y: scroll;
}

.cartItemInfo {
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.cartItem {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.cartItemImage {
  width: 75%;
}

.cartItemName {
  font-size: 13px;
  float: left;
}

.cartItemPrice {
  float: right;
}

.cartItemRemove {
  margin-left: 5px;
  margin-top: 20px;
  float: right;
}

.buyButton:hover {
  border-radius: 2px;
  background-color: #d9d9d9;
}

.buyButton:active {
  background-color: #a6a6a6;
}

#salesTaxText {
  font-weight: bold;
}

#totalCostText {
  font-weight: bold;
  font-size: 22px;
}
